* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
    ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #fafafa;
  margin: 0;
}
.navtop {
  background-color: #16adb7;
  height: 60px;
  width: 100%;
  border: 0;
}
.navtop div {
  display: flex;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
.navtop div h1,
.navtop div a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navtop div h1 {
  flex: 1;
  font-size: 24px;
  padding: 0;
  margin: 0;
  color: white;
  font-weight: normal;
}
.navtop div a {
  padding: 0 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.navtop div a i {
  padding: 2px 8px 0 0;
}
.navtop div a:hover {
  color: #ecf0f6;
}
.content {
  width: 1000px;
  margin: 0 auto;
  height: 100%;
}
.content h2 {
  margin: 0;
  margin-top: 8rem;
  padding: 25px 0;
  font-size: 50px;
  color: #666666;
  max-width: 500px;
}
.content .lottie lottie-player {
  position: absolute;
  right: 15%;
  margin-top: 3rem;
}
.btns {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}
.btns .btn-create {
  display: flex;
  text-decoration: none;
  background-color: #38b673;
  font-weight: bold;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  width: 400px;
  height: 60px;
  border-radius: 20px;
  color: #ffffff;
  padding: 10px 15px;
  margin: 15px 10px 15px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.content .button-buscar {
  display: flex;
  justify-content: space-between;
}
.content .button-buscar .btn-buscar {
  display: flex;
  text-decoration: none;
  background-color: #38b673;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  margin: 40px 10px 0px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: -40px;
}
.content .button-buscar .input-buscar {
  width: 300px;
  height: 50px;
  justify-content: space-between;
  padding: 10px 15px;
  margin: 40px 10px 0px 0;
  border-radius: 20px;
  border: 1px solid grey;
  margin-left: auto;
}
.btns .btn:hover {
  background-color: #32a367;
}
.btns .btn.red {
  background-color: #b63838;
}
.btns .btn.red:hover {
  background-color: #a33232;
}
.home .tickets-list {
  display: flex;
  flex-flow: column;
}
.home .tickets-list .ticket {
  padding: 15px 0;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  text-decoration: none;
}
.home .tickets-list .ticket .con {
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.home .tickets-list .ticket i {
  text-align: center;
  width: 80px;
  color: #b3b3b3;
}
.home .tickets-list .ticket .title {
  font-weight: 600;
  color: #666666;
}
.home .tickets-list .ticket .msg {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 400px;
  color: #999999;
  font-size: 14px;
}
.home .tickets-list .ticket .created {
  flex-grow: 1;
  align-items: flex-end;
  color: #999999;
  font-size: 14px;
}
.home .tickets-list .ticket:last-child {
  border-bottom: 0;
}
.home .tickets-list .ticket:hover {
  background-color: #fcfcfc;
}
.view h2 .open,
.view h2 .resolved {
  color: #38b673;
}
.view h2 .closed {
  color: #b63838;
}
.view .ticket {
  padding: 20px 0;
}
.view .ticket .created {
  color: gray;
}
.view .comments {
  margin-top: 15px;
  border-top: 1px solid #ebebeb;
  padding: 25px 0;
}
.view .comments .comment {
  display: flex;
  padding-bottom: 5px;
}
.view .comments .comment div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 70px;
  color: #e6e6e6;
  transform: scaleX(-1);
}

.view .comments .comment p span strong {
  margin-right: 10px;
}

.view .comments .comment p {
  margin: 0 0 20px 0;
}
.view .comments .comment p span {
  display: flex;
  font-size: 14px;
  padding-bottom: 5px;
  color: gray;
}
.create form,
.view form {
  padding: 15px 0;
  display: flex;
  flex-flow: column;
  width: 400px;
}
.create form label,
.view form label {
  display: inline-flex;
  width: 100%;
  padding: 10px 0;
  margin-right: 25px;
}
.create form input,
.create form textarea,
.view form input,
.view form textarea {
  padding: 10px;
  width: 100%;
  margin-right: 25px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
}
.create form textarea,
.view form textarea {
  height: 200px;
}
.create form input[type="submit"],
.view form input[type="submit"] {
  display: block;
  background-color: #38b673;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  width: 200px;
  margin-top: 15px;
  border-radius: 5px;
}
.create form input[type="submit"]:hover,
.view form input[type="submit"]:hover {
  background-color: #32a367;
}
.footer {
  height: 2.5rem;
  width: 100%;
  bottom: 0;
  background-color: #16adb7;
  position: absolute;
}
.footer p {
  display: flex;
  white-space: nowrap;

  align-items: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.footer p a {
  text-decoration: none;
  color: inherit;
  cursor: auto;
}

/* Estilos da pagina login Prefeitura */
.contentLogin {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 80vh;
  margin: 20px 40px;
  border-radius: 10px;
  width: 95%;
  box-shadow: 10px 10px 20px #656565;
  opacity: 1;
}
.contentLogin .lottie-esquerda {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  border-right: 1px solid grey;
  height: 100%;
}
.contentLogin .login-direita {
  display: flex;
  width: 50%;
  padding: 0;
  margin: 0;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: -5rem;
}
.contentLogin .login-direita form {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
}
.contentLogin .login-direita label {
  position: absolute;
  color: #848484;
  position: absolute;
  margin-left: 1px;
  font-size: 17px;
  cursor: text;

  font-family: "Roboto", sans-serif;
}
.contentLogin .login-direita input {
  width: 70%;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 3rem;
  cursor: text;
  background-color: #fafafa;
}
.contentLogin .login-direita .senha input {
  background-color: #fafafa;
  width: 70%;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 3rem;
  cursor: text;
  z-index: 100;
}
.contentLogin .login-direita .senha label {
  position: absolute;
  color: #848484;
  position: absolute;
  margin-left: 1px;
  font-size: 17px;
  cursor: text;

  font-family: "Roboto", sans-serif;
}
.contentLogin .login-direita .senha {
  width: 100%;
}
.contentLogin .login-direita .erros {
  margin-top: 3%;
}
.contentLogin .login-direita h2 {
  margin-bottom: 3rem;
  font-size: 40px;
  color: #898989;
  display: flex;
  justify-content: flex-end;
  margin-right: 40%;
}
.contentLogin .login-direita h1 {
  margin-bottom: 3rem;
  font-size: 25px;
  color: #898989;
}
.contentLogin .login-direita .btn-login {
  margin-bottom: 3rem;
  font-size: 23px;
  background-color: #38b673;
  color: white;
  width: 200px;
  border-radius: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
}
.contentLogin .login-direita .btn-login:hover {
  background-color: #32a367;
  transition: all 0.2s;
}
